
@if (Model != null)
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Campo</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Nombre:</strong></td>
                    <td>@Model.Nombre</td>
                </tr>
                <tr>
                    <td><strong>Apellido:</strong></td>
                    <td>@Model.Apellido</td>
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td><strong>Teléfono:</strong></td>
                    <td>@Model.Telefono</td>
                </tr>
                <tr>
                    <td><strong>Numero Documento:</strong></td>
                    <td>@Model.NrDocumento</td>
                </tr>
                <tr>
                    <td><strong>Documento:</strong></td>
                    <td>@Model.Documento</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-sm btn-outline-danger mt-2" onclick="$('#detallesCliente').empty();">Cerrar Detalles</button>
}
else
{
    <div class="alert alert-warning" role="alert">
        No se encontraron detalles para este Cliente.
    </div>
}
