
@if (Model != null)
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Campo</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>DetallePedidoId:</strong></td>
                    <td>@Model.DetallePedidoID</td>
                </tr>
                <tr>
                    <td><strong>PedidoId:</strong></td>
                    <td>@Model.PedidoID</td>
                </tr>
                <tr>
                    <td><strong>ProductoId:</strong></td>
                    <td>@Model.ProductoID</td>
                </tr>
                <tr>
                    <td><strong>Cantidad:</strong></td>
                    <td>@Model.Cantidad</td>
                </tr>
                <tr>
                    <td><strong>Precio Unitario:</strong></td>
                    <td>@Model.PrecioUnitario.ToString("C")</td>
                </tr>
                <tr>
                    <td><strong>Subtotal:</strong></td>
                    <td>@Model.Subtotal.ToString("C")</td>
                </tr>

            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-sm btn-outline-danger mt-2" onclick="$('#detallesDetalles').empty();">Cerrar Detalles</button>
}
else
{
    <div class="alert alert-warning" role="alert">
        No se encontraron detalles para este Cliente.
    </div>
}
